<div id="content">     
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>№</th>
        <th>Nickname</th>
        <th>Password</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
     <% data.map((item, index)=>{ %>
     <% let i = index + 1; %>
      <tr>
        <th><%= i %></th>
        <td><%= item.nick %></td>
        <td><%= item.password %></td>
        <td><%= item.email %></td>
        <td><%= item.admin %></td>
        <td><a href="/admin/edituser/<%=item._id%>">edit</a></td>
        <td><a href="/admin/delete/<%=item._id%>" class="deleteUser" data-userid="<%=item._id%>">delete</a></td>
      </tr>
      <% }); %>
    </tbody>    
  </table>
</div> 